@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "SubMaster.cshtml";

    var products = Model.Content.Children<ProductItem>().Where(x => x.IsVisible());
}

@if (products.Any())
{
    <div class="product-grid">
        @foreach (var product in products)
        {
            <a href="@product.Url" class="product-grid__item"
               style="background-image: url('@product.HomeImage')">
                <div class="product-grid__item__overlay">
                    <div class="product-grid__item__name">
                        @product.Name
                    </div>
                </div>
            </a>
        }
    </div>
}