<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="cab4cb62-4e54-4d21-afd6-979d003f7f59" name="_EditorExperience-Baseline" alias="editorexperience-baseline" type="Starter" color="" url="https://www.s1.umbraco.io/project/editorexperience-baseline">
  <environment type="development" name="Development" id="a5c759c5-3707-4aa3-846b-848dd284d43c">https://dev-editorexperience-baseline.s1.umbraco.io</environment>
  <environment type="live" name="Live" id="3576070f-7096-4fca-9fa9-3cf99ed85c96">https://editorexperience-baseline.s1.umbraco.io</environment>
</environments>