<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="9832394c-ea89-4462-a96d-7d066beda3f0" name="ameng@javitscenter.com_Apr2018_11348" alias="ameng-javitscenter-com-apr2018-11348" type="Starter" color="" url="https://www.s1.umbraco.io/project/ameng-javitscenter-com-apr2018-11348" upstream="https://editorexperience-baseline.s1.umbraco.io">
  <environment type="live" name="Live" id="6dfffb7f-3577-4683-a3a3-8053f5887a4e">https://ameng-javitscenter-com-apr2018-11348.s1.umbraco.io</environment>
</environments>